<div class="mt-3 col-sm-6">
  <input type="text" class="form-control" placeholder="Digite sua busca..." (input)="onSearchChange(search)" #search>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Descrição</th>
      <th scope="col">Visibilidade</th>
      <th scope="col">Ver mais</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let repo of filteredRepos; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{repo.name}}</td>
      <td>{{repo.description}}</td>
      <td>{{repo.visibility}}</td>
      <td>
        <a [href]="repo.html_url">
          <i class="bi bi-box-arrow-up-right"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
