<div class="d-flex flex-column">
    <img [src]="user.avatar_url" alt="" class="rounded-circle" width="250px">
    <h1>{{user.name}}</h1>
    <div class="h3 text-muted">{{user.login}}</div>
    <span>{{user.bio}}</span>
    <div>
      <i class="bi bi-people"></i>
      <strong class="ms-2">{{user.followers}}</strong>
      <span> followers        · </span>
      <strong>{{user.following}}</strong>
      <span> following</span>
    </div>
    <div *ngIf="user.location">
      <i class="bi bi-geo-alt"></i>
      <span class="ms-2">{{user.location}}</span>
    </div>
    <div>
      <i class="bi bi-envelope"></i>
      <span class="ms-2">{{user.email}}</span>
    </div>
</div>