<div *ngFor="let group of grouped | keyvalue">
  <h1>{{ group.key }}</h1>
  <div class="d-flex flex-row justify-content-between mb-3" *ngFor="let follower of group?.value">
    <div class="flex-shrink-0">
      <img class="rounded-circle" [src]="follower.avatar_url" [alt]="follower.login + '\'s image'" width="80px">
    </div>
    <div class="d-flex flex-column flex-grow-1 ms-3 justify-content-center">
      <strong>{{ follower.login }}</strong>
      <a [href]="follower.html_url">{{ follower.html_url }}</a>
    </div>
  </div>
  <hr/>
</div>
